<div class="container">
    <div class="tr-titel">
        <span>TARGETS</span>
      <img src="images/targets-icon/ic_.target_less.png"></img>
    </div>
    
    <div class="case-control">
        <div></div>
        <div class="contorl-btn">
            <input type="button" id="addCase">
            <input type="button" id="addtarget">
            <input type="button" id="hideMarker">
        </div>
        <div class="serchbox">
            <input type="text" placeholder="Enter keyword">
        </div>
    
    </div>
</div>