<div class="modal-header  achade">
  <span>{{vm.properties.title}}</span>
  <span class="	glyphicon glyphicon-remove closemodel" ng-click="vm.cancel()"></span>
</div>

<div class="modal-body acbody">
  <div class="AddCase">
    <input type="text" id=caseName class="objName" ng-model=newCase.name></input>
    <span class="glyphicon glyphicon-plus closemodel pluse x-select" ng-click="vm.ok()"></span>
  </div>

  <div class="targetlist">
    <div class="trg" ng-repeat=" tr in vm.list ">
      <ma-Trlist id="{{tr.Id}}" obj='tr' >
      </ma-Trlist>
    </div>
  </div>
</div>